PORT = 4000
# REQUEST_DELAY_TIME = 1000

# Maximum number of files to upload
FILE_UPLOADS_MAX_NUMBER = 10

# API endpoint for check token
API_ME = "https://mock-be.aqua.castis.org/admins" 

## Linux file upload directories
PUBLIC_FOLDER_UPLOAD = /home/account/E-Voucher/uploads/public
PRIVATE_FOLDER_UPLOAD = /home/account/E-Voucher/uploads/private

# ## Windows file upload directories
# PUBLIC_FOLDER_UPLOAD = E:/uploads/public
# PRIVATE_FOLDER_UPLOAD = E:/uploads/private

# ## Docker file upload directories (mounted volumes to host)
# PUBLIC_FOLDER_UPLOAD = /app/uploads/public
# PRIVATE_FOLDER_UPLOAD = /app/uploads/private
