<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<title>URLyBud :: Authentication</title>
		<link type="text/css" rel="stylesheet" href="/template/css/urlybud.css">
	</head>
	<body>
		<table id="table-login">
		<tr>
			<td>
				<table id="table-login-outer">
				<tr>
					<td>
						<img src="/template/img/logo.200x200.png">
						<form method="post">
							<table id="table-login-inner">
								<tr><td>%s</td></tr>
								<tr><td><input name="p" type="password" autofocus></td></tr>
								<tr><td><input name="_Cc" type="hidden" value="###_Cc###"></td></tr>
								<tr><td height="40px"></td></tr>
								<tr><td><input type="submit"></td></tr>
							</table>
						</form>
					</td>
				</tr>
				</table>
			</td>
		</tr>
		</table>
	</body>
</html>