node_modules
npm-debug.log
__pycache__
*.pyc
*.pyo
*.pyd
target/
.mvn/
*.o
*.so
*.dll
.git
.svn
.DS_Store
Thumbs.db
.idea/
*.log
*.tmp
*.swp
.vscode/
*.sublime-project
*.sublime-workspace
docs/
tests/
build/
dist/
.dockerignore
Jenkinsfile*
Dockerfile*
.gitlab-ci/
.gitlab-ci.yml
*.md